<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.15" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Aaron's App</name>
    <description>
        Aaron's car safety app 
    </description>
    <author email="aaron_roles93@hotmail.com" href="http://about.me/aroles">
        Aaron Roles
    </author>

    <preference name="orientation" value="portrait" />

    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-ibeacon" spec="3.4.0" />
    <plugin name="cordova-plugin-bluetoothle" spec="4.3.1"/>
    <plugin name="cordova-plugin-geolocation" spec="2.1.0" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.4" />
    <plugin name="forceLock" spec="0.0.1" />

</widget>
