<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Central Application</name>
    <description>
        The central application in a BLE process
    </description>
    <author email="aaron_roles93@hotmail.com" href="http://about.me/aroles">
        Aaron Roles
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-background-mode" spec="0.6.5" />
    <plugin name="cordova-plugin-ibeacon" spec="3.4.0" />
    <plugin name="cordova-plugin-geolocation" spec="2.1.0" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.4" />
    <plugin name="forceLock" spec="0.0.1" />
</widget>
